#topBar {
    background-image: linear-gradient(to right, #3272E1, #26EEFF);
    padding: 10px;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  #searchBar {
    background-color: white;
    /* border: white; */
    border-radius: 10px;
    height: 80%;
    width: 100%;
  }
  
  #inputSearch {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    width: 23%;
  }

  input::placeholder {
    font: italic
  }

  #searchButton {
    background-color: white;
    padding: 2px;
    border-radius: 10%;
  }

  #logoText {
    margin-right: 6%;
  }

  #tempScale {
    display: flex;
    flex-direction: row;
  }
  
  #celsius-symbol {
    width: 25px;
    height: 25px;
  }

  #fahrenheit-symbol {
    width: 25px;
    height: 25px;
  }

   #celsiusButton {
    padding: 2px;
  }

  #fahrenheitButton {
    padding: 2px;
  }