#topBar {
    background-color: var(--color1);
    padding: 10px;
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  #searchBar {
    border-radius: 10%;
    padding: 20px;
  }

  #inputSearch {
  }